@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,100;1,500&display=swap');

:root{
/* Primary colors */
--Cyan: hsl(180, 66%, 49%);
--Dark-Violet: hsl(257, 27%, 26%);

/*  Secondary */
--Red: hsl(0, 87%, 67%);

/* Neutral */
--Gray: hsl(0, 0%, 75%);
--Grayish-Violet: hsl(257, 7%, 63%);
--Very-Dark-Blue: hsl(255, 11%, 22%);
--Very-Dark-Violet: hsl(260, 8%, 14%);

/* Animation */
--animatime-duration:500ms;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
button, li{
    cursor: pointer;
}