*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

#root {
  max-width: auto;
  margin: 0 auto;
  min-height: 100vh;
  
  background: rgb(235, 235, 235);
  color: black;
  
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.body{
  min-height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


